* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}


/* Base styles */


/* Base styles */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.hero--photo {
    width: 100%;
    height: 100vh;
    /* Take up the full viewport height */
    object-fit: cover;
    /* Ensure the image covers the whole area without stretching */
}

.hero--content {
    width: 100%;
    /* Optional: Add a background color to the content area */
    padding: 20px;
    /* Ensure the text is visible over the image */
    box-sizing: border-box;
}

.hero--header {
    font-size: 2.5rem;
    margin: 20px 0 10px 0;
}

.hero--text {
    font-size: 1.125rem;
}


/* Responsive styles */

@media (min-width: 768px) {
    .hero--header {
        font-size: 3rem;
    }
    .hero--text {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .hero--header {
        font-size: 3.5rem;
    }
    .hero--text {
        font-size: 1.5rem;
    }
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    /* ADD */
    display: flex;
    /* ADD */
    flex-direction: column;
    /* ADD */
    position: relative;
}

.card--image {
    width: 100%;
    height: 233.66px;
    border-radius: 9px;
    margin-bottom: 9px;
    object-fit: cover;
    /* Ensure the image covers the area without stretching */
}


/* ADD */

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}


/* ADD */

.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}


/* Responsive*/


/* src/Hero.css */